html {
    background: url(images/background2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0;
    margin: 0;
}

body {
    background:url(images/notes3.png)repeat-x;
    font-family: 'great vibes';
    height: 100vh;
    padding: 0 0 10%;
    margin: 0;
}

h1,h2,h3,h4,h5,h6,p {
    margin:  0 auto;    
}

h1 {
    width:75%;
    margin: 0 auto;    
}

h1 img {
    width:60%;
    display:block;
    margin: .75em auto 0 auto; 
}

h2 {
    text-align: center;
    text-shadow: 0 3px 3px rgba(255,255,255,0.7);
    font-size: 2.5em;
    font-weight: oblique;
    font-family:'great vibes',cursive;
}
    
section {
    background: url(images/scrollshort.png) no-repeat;
    background-size: 100% 100%;
    width: 40%;
    max-width: 350px;
    min-width: 150px;
    opacity: 0.7;
    padding: 14% 6% 15% 6%;
    margin: 3% 5% 2% 5%;
}

article#stanza1, article#stanza2 {
    text-align: left;
    color: orangered;
    text-shadow: 2px 3px 3px rgb(156,166,178);
/*    min-width: 100px;*/
    font-weight: bold;
    font-size: 1.3em;
}

article#chorus, article#chorus2 {
    text-align: left;
    color: #124E96;
    text-shadow: 2px 3px 3px rgb(156,166,178);
/*    min-width: 100px;*/
    font-weight: bold;
    font-size: 1.3em;
}

article#chorus2 a:hover {
    color: #124E96;
/*    min-width: 100px;*/
    text-decoration: underline;
}
