body {
    margin: 0;
    font-size: 100%;
    font: 1.15em/1.3 'Oxygen','Helvetica', arial, sans-serif;
    font-weight: 300;    
    }
/*---GENERAL TEXT RULES---*/
h1 {
    font:2.5em/1 'Oxygen','Helvetica', arial, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}
h2 {
    font: 1.35em/2 'Oxygen','Helvetica', arial, sans-serif;
    font-weight: 400;
    text-align: center;
}

a {
    text-decoration: none;
    color: #009ee6;
}

a:hover {
    color: #E57A00;
}

/*---NAV RULES---*/
nav {
    height: 3em;
    line-height: 2.3em;
    position: fixed;
    top:0;
    left: 0;
    z-index: 600;
    display: inline-block;
    width: 100%;
    background: rgba(0,0,0,0.55);
    border: 0;
    font-family:'Oxygen','Helvetica', arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
    /* Next line prevents links from jumping to wrong place in Chrome and Safari */
    -webkit-transform: translateZ(0);
}

nav.nav_closed{
    overflow: hidden;
}

/*---MENU button rules---*/
a#menu{
    float: right;
    border: 1px solid #ccc;
    color: #FFE3CD;
    width: 4em;
    margin-top: 5px;
    margin-right: 15px;
    font-weight: 300;
    margin-bottom: 6px;
    text-decoration: none;
}
a#menu:hover {
    background: rgba(255,255,255,0.4);
    color: #333;
    font-weight: 600;
}

/* #navlist */
ul#navlist {
    clear: right;
    list-style: none;
    font-weight: 300;
}

nav.nav_closed ul#navlist {
    display: none;
}
nav.nav_open {
    overflow: visible;
    background: rgba(0,0,0,0.85);
}
nav.nav_open ul#navlist {
    display: block;
    background: rgba(0,0,0,0.85);
}

nav.nav_open a#menu {
    color: #333;
    background: #999;
}
nav ul#navlist li a {
    display: block;
    width: 100%;
    height: 100%;
    border-top: 1px #ccc solid;
    color: #FFE3CD;
    text-decoration: none;
}
nav ul#navlist li a:hover {
    background: #009ee6;
    color:#fff;
    text-decoration: none;
}

/*--- NOSCRIPT STYLES ---*/
#mainnav li {
    width: 100%;
    text-align: center;
    height: 2.5em;
    line-height: 2.5em;
    border-top: 1px #ccc solid;
}

/*---SECTION RULES---*/
section {
}

/*---Section#page-header rules---*/
section#page-header {
    height: 100vh; /*vh is "viewport height */
    width: 100%;
    background: #ccc url(images/aerial.jpg) no-repeat center center;
    background-size: cover;
    color: #000;
    display: table; /*IMPORTANT: sets parent container to behave like a table*/
}

section#page-header header {
    width: 100%;
    text-align: center;
    display: table-cell; /*IMPORTANT: sets child to display like table cell for vertical centering */
    vertical-align: middle; /*IMPORTANT: vertically centers text in "table cell" regardless of parent resizing. */
}

section#page-header header h1 {
    font-size: 4em;
    font-weight: 400;
    line-height: 1em;
}

section#page-header header h2 {
    font-size: 1.45em;
    text-transform: uppercase;
    font-weight: 300;
}

/* section.page-content */
section.page-content {
    clear: both;
}
section.page-content div {
    width: 85%;
    max-width: 1024px;
    margin: 3em auto;
    padding-top: 4em; /* ensures h1s clear the persistent navbar at top */
}

section.page-content article h3{
    font-weight: 700;\
    font-size: 1.15em;
}
section#page-content article 

section.page-content article {
    margin-top: 1em;
    background: url(images/break.png) no-repeat top center;
    padding-top: 30px;
    background-size: 60% 10%;
}
/*special PROFILE rules */
section.page-content div {
    margin-top: 0;
}

/* special SKILLS rules */
section#skills ul {
    width: 30%;
    margin: 1em auto;
    padding: 1em auto;
    overflow: hidden;
}
section#skills ul li {
    float: left;
    width: 40%;
    padding: 5%;
}
section#skills ul li:nth-child(2n+1) {
    clear: both;
}
    
section#skills ul li img {
    display: block;
    width: 100%;
    margin-top: 1em;
}

/* special PORTFOLIO rules */
section#portfolio h3 {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1.25em;
    text-align: center;
    height: 2em;
    line-height: 2em;
    width: 80%;
    margin: 0 auto;
}
section#portfolio h3:hover{
    background: #E5E3E3;
}
section#portfolio ul {
    width: 100%;
    max-width: 800px;
    margin: 1em auto;
    overflow: hidden;
}
section#portfolio li {
    width: 80%;
    max-width: 200px;
    margin: 1em auto;
    padding: 1%;
    border: 1px solid #ccc;
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.4);
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
}
section#portfolio li:hover {
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.7);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.7);
    box-shadow: 0 0 10px rgba(0,0,0,0.7);
}
section#portfolio li a img {
    display: block;
    width: 100%;
    margin: 0 auto;
}

/* special CONTACT rules */
section#contact {
    text-align: center;
    background: #fcead9;
    border-bottom: 4em #232323 solid;
}
section#contact ul {
    width: 75%;
    margin: 1em auto;
    padding: 1em auto;
    overflow: hidden;
}
section#contact ul li {
    float: left;
    width: 20%;
}
section#contact ul li a img {
    display: block;
    width: 60%;
    max-width: 80px;
    margin: auto;
}